
.DS_Store
.Rproj.user

Modelo_Trimestral/Anchoveta/Anchoveta.Rproj

Modelo_Trimestral/Anchoveta/.Rhistory

Modelo_Trimestral/Anchoveta/.RData

EscenariosMPDH/.Rhistory

EscenariosMPDH/AnalisisPreliminar.log
